@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* CSS HEX */
--red: #e63946ff;
--wighte: #f1faeeff;
--green: #a7dadc; 
--blue: #457b9dff;
--browen: #1d3557ff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

                    /*      header      */

header {
    background-color: var(--wighte);
    width: 100%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}
/* header logo  */
.logo{
    text-decoration: none;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.logo span{
    color: var(--red);
    opacity: 0.9;
}

/* header navgation  */

.navigation a{
    color: var(--blue);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: var(--browen);
    cursor: pointer;
}
/* header sign  */
.header .sign {
    display: flex;
    gap: 25px;
   
}
/* .sign a{
    text-decoration: none;
}

.header .sign .sign-in  {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--red);
    opacity: 0.8;
    transition: all 1s;

}
.header .sign .sign-in:hover {
    opacity: 1;
    transform: scale(1.1);
}

.header .sign .sign-up-btn {
    width: 90px;
    height: 35px;
    color: var(--wighte);
    background-color: var(--browen);
    border-radius: 13px;
    border: none;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    opacity: 1;
    transition: all 1s;
}
.header .sign .sign-up-btn:hover{
    opacity: 0.9;
    transform: scale(0.9);
} */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: 3s;
    display: none;
}
.menu:hover{
    transform: scale(1.05);

}
.menu:hover .center{
    width: 50px;
}
.menu .top{
    width: 50px;
    border-bottom: solid var(--blue) 4px;
    margin-bottom: 6px;
}
.menu  .center{
    width: 25px;
    border-bottom: solid var(--blue) 4px; 
    margin-bottom: 6px; 
}
.menu .bottom{
    width: 50px;
    border-bottom: solid var(--blue) 4px;  
    margin-bottom: 3px;
}


                    /*        sec1 main       */
section {
    padding: 100px 200px;
}
.sec1 {
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 100px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: url(image/background1.jpg) no-repeat; */
    background-color: var(--browen);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
     
}  


.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: var(--red);
    font-size: 3em;
    font-weight: 600;

}


.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.main-btn {
    color: #fff;
    background-color:var(--red);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: var(--red);
    transform: scale(1.1);
    opacity: 0.8;
}

/* sec1 social icon */
.social-icons{
    width: 300px;
    height: 60px;
    background-color: var(--wighte);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a {
    font-size: 2.5em;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    
}
.social-icons a:hover{
    opacity: 0.6;
}

/* sec1 image  */
.image{
    width: 560px;
    height: 600px;
    transition:  1s;
    
}
.image img {
    width: 100%;
    height: 100%;
    
}
.image:hover{
    transform: scaleX(1.04);   
}

                    /*    servies   */
.cards{
    background-color: var(--wighte);

}
.title {
    display: flex;
    justify-content: center;
    color: var(--red);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--wighte);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: var(--browen);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

                    /*     projects   */

.projects {
    background-color: var(--browen);
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    font-weight: 500;
    color: var(--red);
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2em;
    color: var(--browen);
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}
   
                    /*     contact   */

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

                        /*    footer     */

.footer {
    background-color: var(--browen);
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 300px;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--red);
}

.footer .social-icons a{
    font-size: 1.6em;
    padding: 0 12ox 0 12px;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .image{
        display: none;
    }
    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }
    .sec1{
        padding: 80px 20px 40px 20px;
    }
    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .navigation{
        display: none;
        position: fixed;
    }
    .menu {
        display: flex; 
    }
    .main{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 10px 30px;
        padding-top: 100px;
    }
    .image{
        width: 570px;
        height: 350px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
    .footer{
        gap: 70px;
    }
}

@media (max-width:320px){
    body{
        font-size: 10px;  
    }
    .social-icons{
        display: flex;
        flex-wrap: wrap;
        width:150px;
    }
    .main{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}
